@import 'media-queries';
@import 'colors';

.classes {
    background-color: $dark-blue;
    margin: auto;
    padding: 0.1px 0px;

    .inner-classes {
        text-align: center;
        color:white;
        padding: 20px 20px 0px 20px;
        max-width: 1024px;
        margin: 0 auto;

        h3 {
            font-size: 14px;
            font-weight: normal;
            margin-bottom: 0px;
        }

        h1 {
            font-size: 32px;
            color: $light-blue;
            font-weight: bold;
            line-height: 0.906;
            margin: 17px auto;
        }

        a {
            color: $light-blue;
            font-weight: bold;
            border-bottom: 2px dashed $light-blue;
        }

        a:hover {
            color: $hover;
        }
    }
}
  
.tab {
    margin: 40px auto;
    background-color: white;
    border-top: 5px solid $dark-blue;
    display: block;

    img {
        margin: 20px auto;
    }

    h2 {
        font-size: 18px;
        color: $dark-blue;;
        font-weight: bold;
        line-height: 1.2;
        margin: 0;
    }

    ul {
        list-style-type: none;
        padding: 30px 0;
        margin: auto;
        width: 230px;

        li {
            display: flex;
            align-items: center;

            img, p {
                margin: 5px;
                color: black;
            }

            p.unchecked {
                color: #d6d7d7;
            }
        }
    }
}
  
.buttonContainer .tablink {
    display: none;
}
  
@include hero-small {

    .inner-classes .view {
        text-align: right;
        margin: 0;
    }
  
   .tabs {
        padding: 20px 0 40px 0;
        max-width: 1024px;
   }
  
   .tabs .buttonContainer {
        display: flex;
        height: 50px;
   }

   .buttonContainer {
        .tablink {
            width: 100%;
            display: flex;
            font-size: 24px;
            font-family: "Open Sans";
            cursor: pointer;
            border: none;
            background-color: #f0f0f0;
            justify-content: center;
            font-weight: bold;
            outline: none;
            color: #9e9e9e;
        }

        button:hover {
            background-color: $light-blue;
            color: white;
        }
   }
  
   .tab {
        margin: auto;
        border: none;
        height: 290px;
        display: none;

        img {
            margin: 73px auto;
        }

        h2 {
            display: none;
        }

        ul {
            display: flex;
            list-style-type: none;
            margin: 40px auto;
            flex-wrap: wrap;
            width: 66%;
            float: right;

            li {
                flex-basis: 42%;
                margin: 1%;
            }
        }
    }
}

@include hero-small-max-width {
    .tab {
      display: block !important;
    }
}