@import 'media-queries';

.slider-container {
    position: relative;
    padding: 0px;
    height: 38vw;

    .slider img {
        display: none;
        width: 100vw;
    }

    .slider img.active {
        display: block;
    }
}

.booknow-mobile {
    display: inline-block;
    width: 100vw;
    height: auto;
}

.enjoy-mobile {
    position: absolute;
    top: 10%;
    left: 10%;
}

.slider-arrows-mobile {
    display: flex;
    position: absolute;
    top: 40%;
    right: 40px;
    width: 115px;
    justify-content: space-around;
}

.slider-arrows-mobile img:hover, .slider-arrows-desktop img:hover {
    transition-duration: 0.7s;
    opacity: 0.7;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 30px;
}

.button-mobile {
    top: 25vw;
    left: 10%;
    position: absolute;
}

.booknow-desktop {
    display: none;
}

.button-desktop img:hover, .button-mobile img:hover {
    transition-duration: 0.4s;
    opacity: 0.7;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@include hero-small {
    .booknow-mobile {
        display: none;
    }

    .booknow-desktop {
        display: inline-block;
        width: 100vw;
        top: 50%;
        height: auto;
    }
    
    .enjoy-desktop {
        position: absolute;
        top: 10%;
        left: 10%;
    }
    
    .slider-arrows-desktop {
        display: flex;
        position: absolute;
        top: 40%;
        right: 40px;
        width: 115px;
        justify-content: space-around;
    }
    
    .button-desktop {
        top: 22vw;
        left: 10%;
        position: absolute;
    }
}