@import 'colors';

.inspiration h2 {
    font-size: 30px;
    color: $blue;
    line-height: 1.607;
    text-align: center;
    margin: 20px;
    font-weight: normal;

    a {
        font-weight: bold;
        border-bottom: 2px dashed $blue;
    }

    a:link, a:visited {
        color: $blue;
    }
    
    a:hover {
        color: $hover;
    }
}