@import 'navbar';
@import 'hero';
@import 'usp';
@import 'offers';
@import 'inspiration';
@import 'classes';

* {
    text-decoration: none;
}

body {
    margin: 0px;
    font-family: "Open Sans";
}

.wrap {
    padding: 0px 20px;
}